<section *ngIf= "router.url === '/' || router.url === '/#scrollDown' " class="s2-grid container p-0 ps-2" id="scrollDown">
    <h1 class="sh container">Our Packages</h1>
    <div class="yellow-line"></div>
    <app-card></app-card>
</section>

<section *ngIf= "router.url === '/OurPackages-ResponsivePage' " class="s2-grid s2-grid-2 container p-0 ps-2" id="scrollDown">
    <h1 class="sh container">Our Packages</h1>
    <div class="yellow-line"></div>
    <app-card></app-card>
</section>


