.s2-grid {
    width: 880px;
    margin-top: 86px;
    text-align: center;
    
}

.sh {
    padding: 5px;
    font-family: "Avenir Next Bold" !important;
    letter-spacing: 0;
    font-size: 30px;
    color: #111242;
    margin-left: 5px;
}

.yellow-line {
    background-color: #F6921E;
    width: 60px;
    height: 5px;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 47%;
}



@media (min-width: 1100px) {

    .gc-2 {
        margin-left: 7px !important;
    }

}



@media only screen and (max-width: 1000px) {
    .s2 {
        margin-top: 200px;
    }
    
    .bottom-section-p {
        margin-bottom: 170px;
    }

    .s2-grid {
        height: 2600px !important;
        
    }    
}

@media only screen and (max-width: 1200px) {
    
    body {
        height: 5000px;
    }
    .s-view-detail {
        margin-top: -220px !important;
        margin-bottom: 100px !important;
        max-width: 440px !important;
    }
    .yellow-line2 {
        
        margin-top: 70px;
        margin-bottom: 20px;
    }
    
    .sh2-view-detail {
        padding: 5px;
        font-weight: bold;
        letter-spacing: 0;
        font-size: 46px;
        color: white;
        max-width: 440px;
        max-height: 50px;
        text-align: left;
    }
}



@media only screen and (min-width: 1200px) {
    .p-p-view-detail {
        margin-bottom: 200px !important;
    }
    .sh2-view-detail {
        width: 480px !important;
    }

    .s2-grid {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 990px) {
    .row-gaps {
        margin-bottom: -17px !important;
    }
}


@media only screen and (max-width: 575px) {
    .sh {
        width: 470px !important;
    }

    .yellow-line {
        margin-left: 25% !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 380px) {
    .sh {
        width: 350px !important;
    }

    .yellow-line {
        margin-left: 17.5% !important;
    }

    
.s2-grid-2
{
    margin-bottom: -100px !important;
}
}

@media only screen and (min-width: 381px) and (max-width: 415px) {
    .sh {
        width: 370px !important;
    }

    .yellow-line {
        margin-left: 19% !important;
    }
    
.s2-grid-2
{
    margin-bottom: -100px !important;
}
}