.p-p-view-detail {
    width: 560px !important;
    height: 194px !important;
    font-family: "Avenir Next";
    font-size: 16px;
    line-height: 26px;
    padding-top: 68px;
    letter-spacing: 0;
    
    
}

.view-detail-img {
    max-width: 600px !important;
    max-height: 337px !important;
    border-radius: 10px;
    margin-top: -55px;
    box-shadow: 0px 12px 24px #00000029;
    z-index: 1;
}

.view-detail-h2 {
    font-size: 22px;
    font-family: "Avenir Next Bold" !important;
    color: #111242;
}

.list-style {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}

span {
    color: #F6921E;
    font-family: "Avenir Next Bold" !important;
    font-size: 18px;
    max-width: 138px !important;
    max-height: 25px !important;
}

.view-detail-btn {
    width: 193px;
    height: 63px;
    font-size: 16px;
    font-family: "Avenir Next Bold" !important;
    border-radius: 10px;
    background-color: #111242;
    border: 1px solid #F6921E;
    color: white;
    margin-bottom: 10px;
    margin-right: 20px;
}

.view-detail-btn2 {
    width: 193px;
    height: 63px;
    font-size: 16px;
    font-family: "Avenir Next Bold" !important;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #F6921E;
    color: #F6921E;
}

.view-detail-a {
    width: 400px;
    height: 44px;
    background-color: #F6921E;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Avenir Next Bold" !important;
    padding: 13px 156px;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.view-detail-a:hover {
    background-color: #E5800A;
    color: white;
}

.modal-dialog {
    min-width: 624px !important;
    min-height: 604px !important;
}

.btn-close {
    margin-top: -50px !important;
}
.modal-content {
    box-shadow: 0px 12;
}

input {
    background-color: #F4F8FA !important;
    border: 1px solid #C9D6E3;
    border-radius: 3px;
    opacity: 1;
}

textarea {
    background-color: #F4F8FA !important;
    border: 1px solid #C9D6E3;
    border-radius: 3px;
    opacity: 1;
}

.modal-h2 {
    min-width: 496px;
    font-size: 30px;
    font-family: "Avenir Next Bold" !important;
    color: #111242;
    text-align: center;
    margin-top: 50px;

}

.list-style {
    text-align: left;
    font-size: 16px;
}

.modal-p {
    width: 432px !important;
    height: 50px !important;
    text-align: center;
    margin-left: 95px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.modal-btn {
    width: 92px;
    height: 44px;
    font-size: 14px;
    font-family: "Avenir Next Bold" !important;
    border-radius: 3px;
    background-color: #F6921E;
    border: 1px solid #F6921E;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.modal-btn:hover {
    background-color: #E5800A;
    color: white;
}

@media only screen and (min-width: 1200px) {
    .p-p-view-detail {
        margin-bottom: 200px !important;
    }
    .top-style {
        margin-top: -400px !important;
    }
}

@media only screen and (max-width: 700px) {
    .modal {
        left: 10% !important;
    }
    
}

@media only screen and (max-width: 600px) {
    .modal {
        margin-left: -100px !important;
    }
}

@media only screen and (max-width: 1000px) {
 
    
    .modal {
        left: 20% !important;
        
    }
    .modal, .modal-content, .modal-body {
        width: 490px !important;
        overflow-x: hidden !important;
    }


    .modal-h2 {
        max-width: 350px !important;
        width: 350px !important;
        font-size: 26px !important;
        margin-left: -20px !important;
    }

    .modal-p {
        width: 300px !important;
        margin-bottom: 50px !important;
        margin-left: 70px !important;
    }

}

// body {
//     margin-left: -17px !important;
//     margin-right: 0px !important;
//     padding-right: 0px !important;
//     padding-left: 0px !important;
//     overflow-y: scroll !important;
// }

// .modal-pos {
//     margin-left: -17px !important;
  
// }





@media only screen and (min-width: 360px) and (max-width: 380px) {

    .invalid-feedback {
        margin-top: -20px !important;
    }

    .view-detail-img {
        width: 350px !important;
    }

    .p-p-view-detail {
        margin-bottom: 200px !important;
        width: 350px !important;
        margin-left: 10px !important;
    }

    .view-detail-h2 {
        margin-top: 50px !important;
    }

    .view-detail-btn, .view-detail-btn2 {
        width: 150px !important;
        font-size: 14px !important;
        margin-bottom: 30px !important;
    }

    #price1, #price2 {
        font-family: "Avenir Next Bold" !important;
        margin-bottom: 20px !important;
    }

    .view-detail-btn, .view-detail-btn2 {
        width: 140px !important;
        font-size: 14px !important;
        margin-bottom: 30px !important;
    }

    .view-detail-a {
        max-width: 300px !important;
        width: 300px !important;
        font-size: 14px !important;
        padding: 14px 100px 14px 100px !important;
        margin-left: 20px !important;
    }

    .modal, .modal-content, .modal-body {
        width: 360px !important;
        
    }

    .modal {
        left: 100px !important;
    }

    .modal-p {
        width: 300px !important;
        margin-left: 10px !important;
        margin-bottom: 50px !important;
    }

    .modal-h2 {
        width: 340px !important;
        min-width: 330px !important;
        font-size: 30px !important;
        margin-bottom: 30px !important;
        margin-left: -10px !important;
    }

    input, textarea {
        width: 300px !important;
        margin-left: -60px !important;
        margin-bottom: 20px !important;
    }
    label, .invalid-feedback {
        margin-left: -60px !important;
        width: 300px !important;
    }

    .btn-close {
        margin-right: 10px !important;
        margin-top: -50px !important;
    }

}

@media only screen and (min-width: 381px) and (max-width: 400px) {
    .invalid-feedback {
        margin-top: -20px !important;
    }
    .view-detail-img {
        width: 350px !important;
        margin-left: 5px !important;
    }

    .p-p-view-detail {
        margin-bottom: 200px !important;
        width: 350px !important;
        margin-left: 25px !important;
    }

    .view-detail-h2 {
        margin-top: 50px !important;
    }

    .view-detail-btn, .view-detail-btn2 {
        width: 140px !important;
        font-size: 14px !important;
        margin-bottom: 30px !important;
    }

    .moveRows {
        margin-left: 0px !important;
    }

    #price1, #price2 {
        font-family: "Avenir Next Bold" !important;
        margin-bottom: 20px !important;
    }

    .view-detail-a {
        max-width: 300px !important;
        width: 300px !important;
        font-size: 14px !important;
        padding: 14px 100px 14px 100px !important;
        margin-left: 5px !important;
    }

    .modal, .modal-content, .modal-body {
        width: 380px !important;
    }

    .modal {
        left: 100px !important;
    }

    .modal-p {
        width: 310px !important;
        margin-left: 15px !important;
        margin-bottom: 50px !important;
    }

    .modal-h2 {
        width: 350px !important;
        min-width: 330px !important;
        font-size: 30px !important;
        margin-bottom: 30px !important;
        margin-left: 0px !important;
    }

    input, textarea {
        width: 300px !important;
        margin-left: -50px !important;
        margin-bottom: 20px !important;
    }
    label, .invalid-feedback {
        margin-left: -50px !important;
        width: 300px !important;
    }

    .btn-close {
        margin-right: 10px !important;
        margin-top: -50px !important;
    }

}

@media only screen and (min-width: 401px) and (max-width: 415px) {
    .invalid-feedback {
        margin-top: -20px !important;
    }
    .view-detail-img {
        width: 350px !important;
        margin-left: 25px !important;
    }

    .p-p-view-detail {
        margin-bottom: 200px !important;
        width: 350px !important;
        margin-left: 35px !important;
    }

    .view-detail-h2 {
        margin-top: 50px !important;
    }

    .view-detail-btn, .view-detail-btn2 {
        width: 140px !important;
        font-size: 14px !important;
        margin-bottom: 30px !important;
    }

    .moveRows {
        margin-left: 0px !important;
    }

    #price1, #price2 {
        font-family: "Avenir Next Bold" !important;
        margin-bottom: 20px !important;
    }

    .view-detail-a {
        max-width: 300px !important;
        width: 300px !important;
        font-size: 14px !important;
        padding: 14px 100px 14px 100px !important;
        margin-left: 20px !important;
    }

    .modal, .modal-content, .modal-body {
        width: 380px !important;
    }

    .modal {
        left: 105px !important;
    }

    .modal-p {
        width: 310px !important;
        margin-left: 15px !important;
        margin-bottom: 50px !important;
    }

    .modal-h2 {
        width: 350px !important;
        min-width: 330px !important;
        font-size: 30px !important;
        margin-bottom: 30px !important;
        margin-left: 0px !important;
    }

    input, textarea {
        width: 300px !important;
        margin-left: -50px !important;
        margin-bottom: 20px !important;
    }
    label, .invalid-feedback {
        margin-left: -50px !important;
        width: 300px !important;
    }

    .btn-close {
        margin-right: 10px !important;
        margin-top: -50px !important;
    }

}