<section class="container" style="height: auto; margin-bottom: 140px;">
    <div class="row flex-md-column-reverse flex-sm-column-reverse flex-column-reverse flex-xl-column">
        <div class="col-12 col-md-6 col-sm-12 col-md-12 col-lg-4 col-xl-4 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-0 p-p-view-detail" style="margin-bottom: 100px;">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
        <div class="col-12 col-md-6 col-sm-12 col-xl-4 offset-md-0 offset-sm-0 col-sm-12 col-lg-4 offset-sm-0 offset-md-1 offset-lg-2 offset-xl-6 top-style">
            <img src="../../../assets/slike/view-details-img.png" class="view-detail-img">
        </div>
    </div>
    <div class="container">
        <div class="row gx-5 moveRows" style="margin-top: 80px;">
            <div class="col-size col-12 col-sm-12 col-ms-12 col-md-12 col-lg-6 col-xl-6 my-sm-0 my-md-0 col-lg-6 offset-0 offset-sm-0 offset-md-1 offset-lg-0 offset-xl-0">
                <h2 class="view-detail-h2">Includes:</h2>
                <hr style="max-width: 560px;">
                <ul style="float: left; text-align: left; line-height: 22px; font-size: 16px;">
                    <li class="list-style">1 videographer</li>
                    <li class="list-style">2x 4K HD Cameras
                        <div class="list-style ms-4" style="list-style-type: none;">- Tripods</div>
                        <div class="list-style ms-4" style="list-style-type: none;">- Gimbal stabilizer</div>
                    </li>
                    <li class="list-style">Audio support
                        <div class="list-style ms-4" style="list-style-type: none;">- 2 wireless lavalier microphone</div>
                        <div class="list-style ms-4"style="list-style-type: none;">- Camera-mounted Boom Mic</div>
                    </li>
                    <li class="list-style mb-md-2 mb-sm-2 mb-2" style="margin-bottom: 204px;">Interview Light Kit</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-sm-5 my-lg-0 col-lg-6 mb-5 mb-sm-5 mb-lg-5 offset-0 offset-sm-0 offset-md-1 offset-lg-0 offset-xl-0">
                <h2 class="view-detail-h2">Price Details: </h2>
                <hr style="width: 560px;">
                <button class="view-detail-btn">Half Day - 4 hours</button>
                <button class="view-detail-btn2">Full Day - 8 hours</button>
                <ul>
                    <li class="list-style" id="price1">With edit - $1500
                        <!-- <div class="list-style ms-4" style="list-style-type: none;">- 2-3 minute highlight video</div> -->
                    </li>
                    <li class="list-style" id="price2">Capture only - $1000
                        <!-- <div class="list-style ms-4" style="list-style-type: none; margin-bottom: 28px;">- RAW Footage delivered</div> -->
                    </li>
                </ul>
                <a href="#" class="view-detail-a" data-bs-toggle="modal" data-bs-target="#viewDetailsModal">BOOK NOW!</a>
            </div>
        </div>
    </div>
</section>



    <!--MODAL-->
    <div class="modal fade" id="viewDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-body">
            <div >
                <button type="button" class="btn-close" style="float: right;" data-bs-dismiss="modal" aria-label="Close"></button>
                <h2 class="modal-title modal-h2" id="exampleModalLabel">Book the 1 Videographer Package</h2>
                
                <p class="modal-p">Call us at <span>1-888-628-3290</span> or fill out the form below and our team will get back to your shortly.</p>
            
            
              <form class="needs-validation" style="padding: 70px; padding-top: 10px; padding-bottom: 0px;" novalidate>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 has-validation">
                      <label for="validationCustom05" style="font-size: 12px;">First Name<span style="color: red; font-size: 12px;">*</span></label>
                      <input type="firstName" class="form-control" id="validationCustom05" style="margin-bottom: 20px;" required>
                      <div class="invalid-feedback" style="margin-top: -20px; font-size: 12px;">
                        Please complete this required field.
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                      <label for="inputPassword4" style="font-size: 12px;">Last Name</label>
                      <input type="lastName" class="form-control" id="inputLastName">
                    </div>
                  </div>

                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label" style="font-size: 12px;">Email<span style="color: red; font-size: 12px;">*</span></label>
                  <input type="text" class="form-control" id="recipient-name" required>
                  <div class="invalid-feedback" style="font-size: 12px;">
                    Please complete this required field.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label" style="font-size: 12px;">Tell us about your event<span style="color: red; font-size: 12px;">*</span></label>
                  <textarea class="form-control" id="message-text" required></textarea>
                  <div class="invalid-feedback" style="font-size: 12px;">
                    Please complete this required field.
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="modal-btn form-btn mt-3">SEND</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


