<img src="../../../assets/slike/view-details-cover.jpeg" class="contact-img img-fluid">
<section class="s-contact">
    <h1 class="sh2-contact" style="font-size: 46px; margin-bottom: 20px;">Our Packages</h1>
    <div class="yellow-line" style="margin-bottom: 200px;"></div>
</section>