.s2 {
    position: relative;
    width: 882px;
    height: 125px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: -20px !important;
}

.sh2 {
    padding: 5px;
    font-family: "Avenir Next Bold" !important;
    letter-spacing: 0;
    font-size: 30px;
    color: #111242;
    margin-left: 7px;
    margin-top: -2px;
}

.yellow-line {
    background-color: #F6921E;
    width: 60px;
    height: 5px;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 47.5%;
}

.slider {
    background-color: #202224;
    height: 810px;
    width: 1920px;
    margin-top: -30px;
}


#carouselExampleCaptions {
    width: 1920px !important;
}

.carousel-indicators {
    height: 110px !important;
    border-bottom: 1px solid #444749 !important;
    background-color: #26292B; height: 120px; top: 410px; padding-top: 30px; width: 1400px; margin-left: 300px;
}

.carousel-text {
    color: white;
    text-align: left;
    width: 680px !important;
    min-width: 500px !important;
    height: 66px;
    margin-top: 162px !important;
    font-size: 16px;
    line-height: 22px;
    opacity: .75;
    margin-left: -21px !important;
    // margin-bottom: -30px !important;
    font-size: 16px !important; margin-bottom: -20px !important; margin-top: 160px;
}

.carousel-h5 {
    color: #F6921E;
    font-size: 14px !important;
    font-family: "Avenir Next Bold" !important;
    margin-top: 41px !important;
    margin-left: -20px !important;
}

.carousel-p2 {
    color: white;
    margin-bottom: 10px;
    font-size: 12px !important;
    opacity: .75;
    margin-left: -20px !important;
    margin-bottom: -5px !important;
}

.yellow-line3 {
    background-color: #F6921E;
    width: 40px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 22px;
    margin-left: -20px !important;
}

.sales-img {
    position: relative;
    margin-top: -3px !important;
    left: 7px !important;
}

.activ {
    background-color: #141516 !important;
   
}

.p1, .p2, .p3, .p4, .p5 {
    transition: ease-in-out .5s !important;
}

.l {
    background-color: #26292B;
    width: 300px;
    height: 118px;
    margin-top: -348px;
}
.r {
    background-color: #26292B;
    width: 296px;
    height: 118px;
    margin-left: 1608px;
    margin-top: -118px;
}




@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: black !important;
        padding: 20px !important;
        
    }
    .btnLeft {
        width: 60px !important;
    }

    .btnRight {
        width: 60px !important;
        margin-right: 1280px !important;
    }

    .carousel, .slide, .carousel-inner {
        width: 700px !important;
    }
}

@media (max-width: 600px) {
    .btnLeft {
        width: 60px !important;
    }

    .btnRight {
        width: 60px !important;
        margin-right: 1350px !important;
    }

    .carousel, .slide, .carousel-inner {
        width: 600px !important;
    }
    
}

@media (max-width: 550px) {
    .btnLeft {
        width: 60px !important;
    }

    .btnRight {
        width: 60px !important;
        margin-right: 1430px !important;
    }

    .carousel, .slide, .carousel-inner {
        width: 500px !important;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: #000000 !important;
        padding: 20px !important;
        
    }
    
    .btnLeft {
        width: 70px !important;
    }
    
    .btnRight {
        width: 70px !important;
        margin-right: 15px !important;
    }

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(100%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-100%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}


@media only screen and (max-width: 1000px) {
    .s2 {
        margin-top: 200px;
    }
    
    .carousel-indicators {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 700px) {
    .carousel-indicators {
        margin-left: 0 !important;
        width: 500px !important;
    }
    
}

@media only screen and (max-width: 575px) {
    .sh2 {
        width: 450px !important;
        margin-top: 100px;
    }
    .yellow-line {
        margin-left: 24% !important;
    }
}

@media only screen and (max-width: 575px) {
   .carousel-text {
       width: 330px !important;
       margin-left: 10px !important;
       margin-bottom: 80px !important;
       height: 100px !important;
   }

   .l {
       visibility: hidden;
   }

   .carousel-h5, .yellow-line3, .carousel-p2 {
    margin-left: 12px !important;
   }

   .sales-img {
       position: relative !important;
       left: 40px !important;
   }

   .carousel-indicators {
       width: 1700px !important;
       transition: none !important;
   }

   .p1 {
       margin-right: 200px !important;
       transition: none !important;
   }

   .activ {
       transition: none !important;
   }
 }


 @media screen and(min-width: 576px) and (max-width: 991px) {
    .carousel-indicators {
        max-width: 1500px !important;
        width: 3000px !important;
    }
 }


 @media only screen and (min-width: 360px) and (max-width: 380px) {
     
    .sh2 {
        width: 330px !important;
        margin-top: 100px;
    }
    .yellow-line {
        margin-left: 17% !important;
    }

    .slider {
        width: 365px auto !important;
        max-width: 380px !important;
        height: 1000px !important;
        max-height: 1000px !important;
    }
    .carousel-item {
        width: 100px !important;
    }

    #carouselExampleCaptions {
        width: 380px !important;
    }

    .i-w {
        width: 365px auto !important;
        max-width: 380px !important;
        object-fit: fill !important;
    }

    .carousel {
        width: 365px auto !important;
        max-width: 380px !important;
    }
    .carousel-indicators  {
        width: 1600px !important;
        max-width: 1600px !important;
        
    }

    .carousel-h5 {
        margin-top: 0px !important;
    }

    .img-width-mobile {
        width: 375px !important;
        object-fit: cover !important;
    }

    .carousel-text {
        width: 320px auto !important;
        max-width: 330px !important;
        height: 220px !important;
        max-height: 220px !important;
        padding-right: 160px !important;
        margin-bottom: 10px !important;
    }

    .l {
        visibility: hidden;
    }
 
    .carousel-h5, .yellow-line3, .carousel-p2 {
     margin-left: 12px !important;
    }
 
    .sales-img {
        position: relative !important;
        left: 40px !important;
    }
 
    .btnRight {
        margin-right: 5px !important;
    }
 
    .p1 {
        margin-right: 200px !important;
        transition: none !important;
    }
 
    .activ {
        transition: none !important;
    }
  }




  @media only screen and (min-width: 381px) and (max-width: 415px) {
     
    .sh2 {
        width: 370px !important;
        margin-top: 100px;
    }
    .yellow-line {
        margin-left: 19% !important;
    }

    .slider {
        width: 100vw !important;
        max-width: 100vw !important;
        height: 1000px !important;
        max-height: 1000px !important;
    }
    .carousel-item {
        width: 100px !important;
    }

    #carouselExampleCaptions {
        width: 100vw !important;
    }

    .i-w {
        width: 100vw !important;
        max-width: 375px !important;
        object-fit: fill !important;
    }

    .carousel {
        width: 100vw !important;
        max-width: 375px !important;
    }
    .carousel-indicators  {
        width: 1600px !important;
        max-width: 1600px !important;
        
    }

    .carousel-h5 {
        margin-top: 0px !important;
    }

    .img-width-mobile {
        width: 100vw !important;
        object-fit: cover !important;
    }

    .carousel-text {
        width: 330px !important;
        max-width: 330px !important;
        height: 200px !important;
        max-height: 200px !important;
        padding-right: 150px !important;
        margin-bottom: 10px !important;
        margin-left: 25px !important;
    }

    .l {
        visibility: hidden;
    }
 
    .carousel-h5, .yellow-line3, .carousel-p2 {
     margin-left: 25px !important;
    }
 
    .sales-img {
        position: relative !important;
        left: 55px !important;
    }
 
    
 
    .p1 {
        margin-right: 200px !important;
        transition: none !important;
    }
 
    .activ {
        transition: none !important;
    }

    .btnRight {
        margin-right: -15px !important;
    }
  }