<script src="../section2/carousel.js"></script>

<section class="s2 container" style="margin-top: 180px !important;">
    <h1 class="sh2 container">Our Happy Clients</h1>
    <div class="yellow-line"></div>
</section>

<div class="slider container-fluid m-0 p-0">
    <div id="carouselExampleCaptions" class="carousel slide container-fluid m-0 p-0" data-bs-interval="false" data-bs-ride="carousel">
        <section class="carousel-indicators visibility justify-content-center container">
            <div class="p1 ps-1 pe-3">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active i1" aria-current="true" aria-label="Slide 1">
                  <img src="../../assets/slike/slide-1.jpg" class="d-flex p-0 m-0" style="width: 60px !important; height: 59px; object-fit: cover !important;">
                </button>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: -40px !important; font-size: 12px; font-weight: normal;"><h5 style="width: 150px; margin-top: -19px; font-size: 12px; font-family: 'Avenir Next'; color: #888A8A"> JB Sales</h5><br> </span>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: 3px;  font-size: 14px; font-weight: normal;"><h5 style="width: 150px; margin-top: -20px; font-size: 14px; font-family: 'Avenir Next'; color: white"> James Buckley</h5> </span>
            </div>
            <div class="p2 ps-1 pe-3">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">
                  <img src="../../assets/slike/slide-2.jpg" class="d-flex p-0 m-0 i2" style="width: 60px !important; height: 59px; object-fit: cover !important;">
                </button>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: -40px !important; font-size: 12px; font-weight: normal;"><h5 style="width: 150px; margin-top: -19px; font-size: 12px; font-family: 'Avenir Next'; color: #888A8A"> Harris Consulting Group</h5><br> </span>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: 3px;  font-size: 14px; font-weight: normal;"><h5 style="width: 150px; margin-top: -20px; font-size: 14px; font-family: 'Avenir Next'; color: white"> Richard Harris</h5> </span>
            </div>
            <div class="p3 ps-1 pe-3">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">
                  <img src="../../assets/slike/slide-3.jpg" class="d-flex p-0 m-0 i3" style="width: 60px !important; height: 59px; object-fit: cover !important;">
                </button>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: -40px !important; font-size: 12px; font-weight: normal;"><h5 style="width: 150px; margin-top: -19px; font-size: 12px; font-family: 'Avenir Next'; color: #888A8A"> NCARB</h5><br> </span>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: 3px;  font-size: 14px; font-weight: normal;"><h5 style="width: 150px; margin-top: -20px; font-size: 14px; font-family: 'Avenir Next'; color: white"> Andy McIntyre</h5> </span>
            </div>
            <div class="p4 ps-1 pe-3">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4">
                  <img src="../../assets/slike/slide-4.jpg" class="d-flex p-0 m-0 i4" style="width: 60px !important; height: 59px; object-fit: cover !important;">
                </button>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: -40px !important; font-size: 12px; font-weight: normal;"><h5 style="width: 150px; margin-top: -19px; font-size: 12px; font-family: 'Avenir Next'; color: #888A8A"> JB Sales</h5><br> </span>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: 3px;  font-size: 14px; font-weight: normal;"><h5 style="width: 150px; margin-top: -20px; font-size: 14px; font-family: 'Avenir Next'; color: white"> John Barrows</h5> </span>
            </div>
            <div class="p5 ps-1 pe-3">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5">
                  <img src="../../assets/slike/slide-5.png" class="d-flex p-0 m-0 i5" style="width: 60px !important; height: 59px; object-fit: cover !important;">
                </button>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: -40px !important; font-size: 12px; font-weight: normal;"><h5 style="width: 150px; margin-top: -19px; font-size: 12px; font-family: 'Avenir Next'; color: #888A8A"> 1UP Formula</h5><br> </span>
                <span class="d-flex" style="margin-left: 80px; width: 150px; color: white; margin-top: 3px;  font-size: 14px; font-weight: normal;"><h5 style="width: 150px; margin-top: -20px; font-size: 14px; font-family: 'Avenir Next'; color: white">Morgan Ingram</h5> </span>
            </div>
        </section>
        <div class="carousel-inner p-0 m-0 row" style="width: 100%;">
          <div class="carousel-item active col-4 p-0">
              <div class="i-w" style="width: 635px;">
                  <div class="card p-0 m-0">
                      <img src="../../assets/slike/slide-1.jpg" class="d-flex p-0 m-0 img-width-mobile" style="height: 405px;">
                  </div>
              </div>
          </div>

          <div class="carousel-item col-4 p-0">
              <div class="i-w" style="width: 635px;">
                  <div class="card p-0 m-0">
                      <img src="../../assets/slike/slide-2.jpg" class="d-flex p-0 m-0 img-width-mobile" style="height: 405px;">
                  </div>
              </div>
          </div>

          <div class="carousel-item col-4 p-0">
              <div class="i-w" style="width: 635px;">
                  <div class="card p-0 m-0">
                      <img src="../../assets/slike/slide-3.jpg" class="d-flex p-0 m-0 img-width-mobile" style="height: 405px;">
                  </div>
              </div>
          </div>
          <div class="carousel-item col-4 p-0">
              <div class="i-w" style="width: 635px;">
                  <div class="card p-0 m-0">
                      <img src="../../assets/slike/slide-4.jpg" class="d-flex p-0 m-0 img-width-mobile" style="height: 405px;">
                  </div>
              </div>
          </div>
          <div class="carousel-item col-4 p-0">
              <div class="i-w" style="width: 635px;">
                  <div class="card p-0 m-0">
                      <img src="../../assets/slike/slide-5.png" class="d-flex p-0 m-0 img-width-mobile" style="height: 405px;">
                  </div>
              </div>
          </div>
        </div>
        <div class="container">
            <div class="row">
                <button class="carousel-control-prev btnLeft col-6" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next btnRight col-6" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

  <div class="container offset-lg-4 offset-sm-1 p-0">
      <p class="carousel-text col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6 mb-md-5 mb-5 mb-sm-5 mb-xl-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
      <h5 class="carousel-h5 mt-md-5 mt-sm-5 mt-5 mt-xl-5 mt-lg-5">James Buckley</h5>
      <p class="carousel-p2" style="margin-top: -8px;">Director of Execution & Evolution</p>
      <div class="yellow-line3"></div>
      <img src="../../assets/slike/caurosel-sales.png" class="sales-img" style="margin-left: -27px !important;">
  </div>
  <div class="l"></div>
  <div class="r"></div>
</div>

