<nav class="container-fluid navbar sticky-top navbar-expand-lg shadow-sm">
    <div class="container">
      <a routerLink="" routerLinkActive="active" class="navbar-brand">
        <img src="../../assets/slike/logo.png" class="d-inline-block align-middle mr-2 logo-top">
      </a>
  
        <label class="navbar-toggler" for="slide-menu-right" type="button">          
            <span></span><span></span><span></span>
        </label>

    
        <div class="collapse navbar-collapse" id="navbarMain">
            
            
              <ul *ngIf= "router.url !== '/Contact-Page' && router.url !== '/ViewDetails-Page' " class="navbar-nav ms-auto" style="margin-right: -52px;">
                <li class="nav-item">
                    <a href="#scrollDown" class="nav-link pckg-color desktop">OUR PACKAGES</a>
                    <a class="nav-link pckg-color mobile" >OUR PACKAGES</a>
                </li>
                <li class="nav-item"><a class="nav-link btn-color" [routerLink]= "['../Contact-Page']" routerLinkActive="active">CONTACT US</a></li>
              </ul>
              <ul *ngIf= "router.url !== '/' && router.url !=='/#scrollDown' " class="navbar-nav ms-auto" style="margin-right: -52px;">
                <li class="nav-item">
                    <a style="cursor: pointer;" class="nav-link pckg-color desktop">OUR PACKAGES</a>
                    <a class="nav-link pckg-color mobile" >OUR PACKAGES</a>
                </li>
                <li class="nav-item"><a class="nav-link btn-color" [routerLink]= "['../Contact-Page']" routerLinkActive="active">CONTACT US</a></li>
              </ul>
        </div>
      
    </div>
</nav>


<div class="slide-menu">
    <input id="slide-menu-right" class="menu-toggle" type="checkbox" >
    <div class="menu-wrap">
        <label for="slide-menu-right" class="menu-close">Close</label>        
        <div class="menu-list">
            <ul>
                <li class="menu-item">
                    <a href="#scrollDown" aria-current="page" class="desktop">OUR PACKAGES</a>
                    <a aria-current="page" class="mobile b1" routerLink= "../OurPackages-ResponsivePage" routerLinkActive="active">OUR PACKAGES</a>
                </li>
                <li class="menu-item b2"><a [routerLink]= "['../Contact-Page']" routerLinkActive="active">CONTACT US</a></li>             
            </ul>
        </div>    
    </div>
    
</div> 

