.navbar {
    height: 84px !important;
    background-color: white !important;
    z-index: 1;
    width: 1920px auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
   
}

.logo-top {
    width: 241px !important;
    height: 43px !important;
    transition: transform 0.3s !important;
    margin-left: -2px !important;
    margin-top: -2px !important;
}

.logo-top:hover {
    transform: scale(1.05);
}

.pckg-color {
    color: #111242 !important;
    text-decoration: none;
    font-size: 14px !important;
    font-family: "Avenir Next Bold" !important;
    letter-spacing: 0;
    width: 163px;
    height: 44px;
    padding-top: 11px !important;
    margin-top: 7px !important;
    margin-right: 0px !important;
    line-height: 19px !important;
}

.pckg-color:hover {
    color: #F6921E !important;
}

.btn-color {
    background-color: #111242 !important;
    letter-spacing: 0px !important;
    font-family: "Avenir Next Bold" !important;
    color: white !important;
    width: 142px;
    height: 44px;
    font-size: 14px !important;
    letter-spacing: 0 !important;
    border-radius: 3px;
    padding-top: 13px !important;
    margin-top: 6px !important;
    line-height: 19px;
    margin-right: -9px !important;
}

.btn-color:hover {
    background-color: #020F34 !important;
    color: #F6921E !important;
}

// .cover-img {
//     margin-top: -84px;
//     object-fit: cover;
//     height: 1001px;
//     opacity: 0.95;
// }

// .cover-container {
//     min-width: 800px !important;
//     text-align: center !important;
//     position: absolute;
//     top: 51.5%;
//     left: 50%;
//     transform: translate(-50%, -50%); 
// }

// .cover-text {
//     font-family: "Avenir Next Bold" !important;
//     color: white;
//     margin-bottom: 23px;
//     letter-spacing: 0px !important;
//     line-height: 48px;
//     font-size: 48px;
//     width: 798px !important;
//     height: 114px !important;
//     align-items: center !important;
//     justify-content: center !important;
//     max-height: 114px !important;
//     text-align: center !important; 
//     text-shadow: 0px 3px 6px #00000029;
// }

@media screen and (min-width: 1800px) {
    .cover-text {
        width: 850px !important;
    }
    
}

@media screen and (max-width: 1800px) {
    .btn-margin {
        margin-bottom: 100px !important;
    }
}

// .cover-btn {
//     text-decoration: none;
//     font-family: "Avenir Next Bold" !important;
//     font-size: 14px;
//     color: white;
//     background-color: #F6921E;
//     padding: 14px 23px;
//     border-radius: 3px;
//     width: 134px;
//     height: 44px;
// }

// .cover-btn:hover {
//     background-color: #E5800A;
//     color: white;
// }


.navbar-toggler {
    position: relative;
    border: 0;
    height: 27px;
}
/* .navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
} */

.navbar-toggler span {
   display: block;
   background-color: #F6921E;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;  
   position: relative;
   left: 0;
   opacity: 1;
}


.slide-menu {
	z-index: 3000;
	position: relative;
}


.menu-wrap {
    background-color: #fff;
    padding:0;
    overflow: hidden;
    transition: all .5s;
    position: fixed;
    width: 570px;
    top: 0;
    right: -570px;
    bottom: 0;
    z-index: 1000;
}

.menu-close {
    background: url(../../assets/slike/x.svg) center no-repeat;
    background-size: 20px;
    opacity: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 34px;
    top: 34px;
    text-indent: -9999px;
    transition: all 0.3s;
    /* filter: invert(65%) sepia(89%) saturate(1000%) hue-rotate(347deg) brightness(100%) contrast(90%); */
}
.menu-close:hover {
    cursor: pointer;
}
.menu-wrap:hover .menu-close {
    opacity: 1;
}
.menu-toggle {
    display: none;
}
.menu-toggle:checked + .menu-wrap {
    right: 0;
}
/* .menu-toggle:checked ~ .menu-overlay {
    display: block;
} */

.menu-list {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
    height: inherit;
    display: block;
    overflow: hidden;
}
.menu-wrap:hover .menu-list {
    overflow-y: auto;
}
.menu-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    display: block;
}
.menu-list li a,
.menu-list li label
{
    font-family: "Avenir Next Bold" !important;
    display: block;
    font-size: 24px;    
    color: #111242;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EDEDED;
    text-align: center;	
}
.menu-list li a:hover,
.menu-list li label:hover,
.menu-list li a:active,
.menu-list li a.active,
.menu-list li.current-menu-item a
{
    color: var(--red);
    cursor: pointer;
}

.nav-contact {
    margin-top: 25px;
}
.menu-list li .btn {
    font-size: 14px;
    letter-spacing: .7px;
    display: inline-block;
}

.menu-icon {
    position: absolute;
    bottom: 40px;
    left: 110px;
    right: 110px;
}
.menu-icon ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-icon li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    line-height: 25px;
}
.menu-icon li img {
    filter: invert(100%);
}
.menu-icon li img:hover {
    filter: invert(100%) !important;
}

@media only screen and (min-width: 990px) {
    .mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 990px) {
    .desktop {
        display: none !important;
    }
}


@media only screen and (max-width: 1000px) {
    .btn-margin {
        margin-bottom: 100px !important;
    }
    
}


@media screen and (min-width: 360px) and (max-width: 380px) {
    .logo-top {
        width: 200px !important;
        height: 35px !important;
        margin-left: 15px !important;
    }

    .menu-list li a,
    .menu-list li label {
        font-family: "Avenir Next Bold" !important;
        display: block;
        font-size: 22px !important;    
        color: #111242;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EDEDED;
        text-align: center;	
        width: 200px !important;
        max-width: 200px !important;
        margin-left: -10px !important;
    }

    .menu-wrap {
        //margin-right: -60px !important;
        width: 360px auto !important;
        max-width: 380px !important;
        
    }

    .menu-list {
        width: 250px !important;
        max-width: 250px !important;
        padding: 0 !important;
       
    }



}

@media screen and (min-width: 381px) and (max-width: 415px) {
    .logo-top {
        width: 200px !important;
        height: 35px !important;
        margin-left: 15px !important;
    }

    .menu-list li a,
    .menu-list li label {
        font-family: "Avenir Next Bold" !important;
        display: block;
        font-size: 22px !important;    
        color: #111242;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EDEDED;
        text-align: center;	
        
    }

    .menu-wrap {
        //margin-right: -40px !important;
        width: 381px auto !important;
        max-width: 415px !important;
        font-size: 22px !important;
    }

  

}