<img src="../../../assets/slike/view-details-cover.jpeg" class="contact-img" style="z-index: 0;">
<section class="s-view-detail container">
    <h1 class="sh2-view-detail col-12 col-xl-4 col-lg-12 col-md-12 col-sm-12">1 Videographer Package</h1>
    <div class="yellow-line2"></div>
</section>