.s-view-detail {
    position: relative;
    text-align: center;
    margin-top: -114px;
    
}

.yellow-line2 {
    background-color: #F6921E;
    width: 60px;
    height: 5px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.sh2-view-detail {
    padding: 5px;
    font-family: "Avenir Next Bold" !important;
    letter-spacing: 0;
    font-size: 36px;
    color: white;
    max-width: 458px;
    width: 458px;
    max-height: 49px;
}

.contact-img {
    max-width: 1920px !important;
    max-height: 396px !important;
    margin: 0 !important;
}

@media only screen and (min-width: 1200px) {
    .sh2-view-detail {
        width: 480px !important;
    }
}

@media only screen and (max-width: 1200px) {
    

    .s-view-detail {
        margin-top: -220px !important;
        margin-bottom: 100px !important;
        max-width: 440px !important;
    }
    .yellow-line2 {
        
        margin-top: 70px;
        margin-bottom: 20px;
    }
    
    .sh2-view-detail {
        padding: 5px;
        font-weight: bold;
        letter-spacing: 0;
        font-size: 46px;
        color: white;
        max-width: 440px;
        max-height: 50px;
        text-align: left;
    }
}

@media only screen and (min-width: 360px) and (max-width: 415px) {
    .s-view-detail {
        width: 360px !important;
    }

    .sh2-view-detail {
        width: 340px !important;
        font-size: 32px !important;
    }

    .yellow-line2 {
        margin-top: 50px !important;
        width: 50px !important;
    }

    .contact-img {
        object-fit: contain !important;
    }
}