.bottom-section {
    max-width: 1920px;
    text-align: center;
}

.bottom-img {
    margin-top: 10px;
    height: 480px;
    width: 1920px !important;
    margin-bottom: 37px;
}

.bottom-section-p {
    font-family: "Avenir Next";
    width: 1115px !important;
    height: 100px;
    margin-left: 20.8%;
    margin-bottom: 100px;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px;
}



.sh {
    padding: 5px;
    font-family: "Avenir Next Bold" !important;
    letter-spacing: 0;
    font-size: 30px;
    color: #111242;
    margin-left: 15px;
}

.yellow-line {
    background-color: #F6921E;
    width: 60px;
    height: 5px;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 48.8%;
}

@media only screen and (max-width: 1000px) {
    .bottom-section-p {
        margin-bottom: 170px;
    }
}

@media only screen and (max-width: 1500px) {
    .bottom-section-p {
        margin-left: 0;
    }
}

@media only screen and (max-width: 575px) {
    .yellow-line {
        margin-left: 45% !important;
    }
 
    .bottom-section-p {
        width: 450px !important;
        margin-bottom: 250px !important;
    }
 }


 @media only screen and (min-width: 360px) and (max-width: 380px) {

    .sh {
        margin-top: -400px !important;
        width: 330px !important;
    }

    .yellow-line {
        margin-left: 41.5% !important;
        margin-bottom: -180px !important;
    }
 
    .bottom-section-p {
        width: 330px !important;
        margin-bottom: 350px !important;
    }

    .bottom-img {
        margin-top: 30px !important;
        object-fit: contain !important;
        margin-bottom: -150px !important;
    }
 }


 @media only screen and (min-width: 401px) and (max-width: 415px) {
    .yellow-line {
        margin-left: 43% !important;
        margin-bottom: -180px !important;
    }
 }

 @media only screen and (min-width: 381px) and (max-width: 400px) {
    .yellow-line {
        margin-left: 44.5% !important;
        margin-bottom: -180px !important;
 }
}

 @media only screen and (min-width: 381px) and (max-width: 415px) {

    .sh {
        margin-top: -400px !important;
        width: 360px !important;
    }

    
 
    .bottom-section-p {
        width: 370px !important;
        margin-bottom: 350px !important;
        margin-left: 7px !important;
    }

    .bottom-img {
        margin-top: 30px !important;
        object-fit: contain !important;
        margin-bottom: -150px !important;
    }
 }