footer {
    
    max-width: 1920px !important;
    height: 440px;
    background-color: #111242;
}

.footer-container {
    text-align: center;
    color: white;
    font-family: "Avenir Next";
    letter-spacing: 0;
    
}

.fh {
    padding-top: 70px;
    width: 420px;
    height: 41px;
    font-size: 30px;
    line-height: 41px;
    padding-bottom: 30px;
    font-family: "Avenir Next Bold" !important;
}

.fp {
    max-width: 850px;
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 27px;
    margin-bottom: 22px !important;
    opacity: .75;
}

.footer-btn {
    background-color: #F6921E;
    width: 153px;
    height: 44px;
    padding: 11px 26px 10px 26px;
    text-decoration: none;
    color: white;
    font-family: "Avenir Next Bold" !important;
    font-size: 14px;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 51px;
}

.footer-btn:hover {
    background-color: #E5800A;
    color: white;
}

@media only screen and (max-width: 575px) {
    .footer-btn {
        margin-top: 70px !important;
    }
 }

 @media only screen and (min-width: 360px) and (max-width: 415px) {
    footer {
        height: 600px !important;
    }
    .fh {
        width: 330px !important;
        margin-bottom: 80px !important;
    }

    .footer-btn {
        margin-top: 120px !important;
        margin-bottom: 50px !important;
    }
 }