<footer class="container">
    <div class="footer-container">
        <h2 class="fh container">We'd love to hear from you</h2>
        <p class="fp container mb-md-5 mb-sm-5 mb-lg-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
        <a routerLink="../../Contact-Page" routerLinkActive="active" class="footer-btn d-block">GET IN TOUCH</a>
        <img src="../../assets/slike/logo-white.png" style="width: 230px; margin-bottom: 6px;">
        <p style="font-size: 15px; opacity: .5; color: #c4c4c4">© Copyright 2022 goevents.pro</p>
    </div>
</footer>