.footer-contact {
    max-width: 1920px;
    height: 140px;
    background-color: #111242;
}

.footer-contact-container {
    text-align: center;
    color: white;
    font-family: "Avenir Next";
    letter-spacing: 0;
    
}

