<!-- <footer class="footer-contact container-fluid">
    <div class="footer-contact-container container">
        <img src="../../assets/slike/logo-white.png" style="margin-top: 27px; margin-bottom: 10px;">
        <p style="font-size: 12px;">© Copyright 2022 goevents.pro</p>
    </div>
</footer> -->

<footer *ngIf= "router.url === '/Contact-Page'" class="footer-contact container-fluid">
    <div class="footer-contact-container container">
        <img src="../../assets/slike/logo-white.png" style="margin-top: 27px; margin-bottom: 10px;">
        <p style="font-size: 12px; bottom: 0 !important;">© Copyright 2022 goevents.pro</p>
    </div>
</footer>

<footer *ngIf= "router.url === '/ViewDetails-Page' " style="margin-top: -100px !important;" class="footer-contact container-fluid">
    <div class="footer-contact-container container">
        <img src="../../assets/slike/logo-white.png" style="margin-top: 27px; margin-bottom: 10px;">
        <p style="font-size: 12px;">© Copyright 2022 goevents.pro</p>
    </div>
</footer>

<footer *ngIf= "router.url === '/OurPackages-ResponsivePage'" class="footer-contact container-fluid">
    <div class="footer-contact-container container">
        <img src="../../assets/slike/logo-white.png" style="margin-top: 27px; margin-bottom: 10px;">
        <p style="font-size: 12px; bottom: 0 !important;">© Copyright 2022 goevents.pro</p>
    </div>
</footer>