<img src="../../assets/slike/cover-darker.png" class="cover-img w-100">
<div class="cover-container container">
    <h1 class="cover-text container btn-margin">Your trusted team of professionals to capture your next event!</h1>
    <a class="cover-btn" routerLink="../../Contact-Page" routerLinkActive="active">BOOK NOW!</a>
</div>

<section class="s container ps-0">
    <h1 class="sh">Who We Are</h1>
    <div class="yellow-line container" style="margin-bottom: 18px;"></div>
    <p class="s1p container">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
</section>