.s {
    position: relative;
    width: 882px;
    height: 125px;
    
    margin-top: 86px;
    text-align: center;
}

.sh {
    padding: 5px;
    font-family: "Avenir Next Bold" !important;
    letter-spacing: 0;
    font-size: 30px;
    color: #111242;
    margin-left: 26px;
}

.yellow-line {
    background-color: #F6921E;
    width: 60px;
    height: 5px;
    margin-left: 48%;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
    //margin-right: 392px;
}

.s1p {
    margin-bottom: 100px;
    height: 125px;
    width: 907px !important;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    margin-left: -5px;
}

.cover-container {
    min-width: 800px !important;
    text-align: center !important;
    position: absolute;
    top: 51.5%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.cover-img {
    margin-top: -84px;
    object-fit: cover;
    height: 1001px;
    opacity: 0.95;
}


.cover-text {
    font-family: "Avenir Next Bold" !important;
    color: white;
    margin-bottom: 23px;
    letter-spacing: 0px !important;
    line-height: 48px;
    font-size: 48px;
    width: 798px !important;
    height: 114px !important;
    align-items: center !important;
    justify-content: center !important;
    max-height: 114px !important;
    text-align: center !important; 
    text-shadow: 0px 3px 6px #00000029;
}

@media screen and (min-width: 1800px) {
    .cover-text {
        width: 850px !important;
    }
    
}

@media screen and (max-width: 1800px) {
    .btn-margin {
        margin-bottom: 100px !important;
    }
}

.cover-btn {
    text-decoration: none;
    font-family: "Avenir Next Bold" !important;
    font-size: 14px;
    color: white;
    background-color: #F6921E;
    padding: 14px 23px;
    border-radius: 3px;
    width: 134px;
    height: 44px;
}

.cover-btn:hover {
    background-color: #E5800A;
    color: white;
}


.navbar-toggler {
    position: relative;
    border: 0;
    height: 27px;
}
/* .navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
} */

.navbar-toggler span {
   display: block;
   background-color: #F6921E;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;  
   position: relative;
   left: 0;
   opacity: 1;
}


.slide-menu {
	z-index: 3000;
	position: relative;
}


.menu-wrap {
    background-color: #fff;
    padding:0;
    overflow: hidden;
    transition: all .5s;
    position: fixed;
    width: 570px;
    top: 0;
    right: -570px;
    bottom: 0;
    z-index: 1000;
}
.menu-overlay {
    background: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
}
.menu-close {
    background: url(../../../assets/slike/x.svg) center no-repeat;
    background-size: 20px;
    opacity: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 34px;
    top: 34px;
    text-indent: -9999px;
    transition: all 0.3s;
    /* filter: invert(65%) sepia(89%) saturate(1000%) hue-rotate(347deg) brightness(100%) contrast(90%); */
}
.menu-close:hover {
    cursor: pointer;
}
.menu-wrap:hover .menu-close {
    opacity: 1;
}
.menu-toggle {
    display: none;
}
.menu-toggle:checked + .menu-wrap {
    right: 0;
}
/* .menu-toggle:checked ~ .menu-overlay {
    display: block;
} */

.menu-list {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
    height: inherit;
    display: block;
    overflow: hidden;
}
.menu-wrap:hover .menu-list {
    overflow-y: auto;
}
.menu-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    display: block;
}
.menu-list li a,
.menu-list li label
{
    font-family: "Avenir Next Bold" !important;
    display: block;
    font-size: 24px;    
    color: #111242;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EDEDED;
    text-align: center;	
}
.menu-list li a:hover,
.menu-list li label:hover,
.menu-list li a:active,
.menu-list li a.active,
.menu-list li.current-menu-item a
{
    color: var(--red);
    cursor: pointer;
}

.nav-contact {
    margin-top: 25px;
}
.menu-list li .btn {
    font-size: 14px;
    letter-spacing: .7px;
    display: inline-block;
}

.menu-icon {
    position: absolute;
    bottom: 40px;
    left: 110px;
    right: 110px;
}
.menu-icon ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-icon li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    line-height: 25px;
}
.menu-icon li img {
    filter: invert(100%);
}
.menu-icon li img:hover {
    filter: invert(100%) !important;
}

@media only screen and (min-width: 990px) {
    .mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 990px) {
    .desktop {
        display: none !important;
    }
}


@media only screen and (max-width: 1000px) {
    .btn-margin {
        margin-bottom: 100px !important;
    }
    
}




@media only screen and (max-width: 575px) {
   .cover-text {
       width: 580px !important; 
       margin-bottom: 200px !important;
   }

   .s {
       height: 200px !important;
   }

   .sh {
       width: 450px !important;
   }
   
   .yellow-line {
       margin-left: 25% !important;
   }

   .s1p {
       width: 500px !important;
       margin-bottom: 50px !important;
   }
}


@media only screen and (min-width: 360px) and (max-width: 380px) {
    .cover-text {
        width: 350px !important; 
        margin-bottom: 100px !important;
        font-size: 36px !important;
        line-height: 40px !important;
    }
 
    .s {
        height: 350px !important;
    }
 
    .sh {
        width: 330px !important;
    }
    
    .yellow-line {
        margin-left: 18.5% !important;
        margin-bottom: 30px !important;
    }
 
    .s1p {
        width: 330px !important;
        margin-bottom: 90px !important;
        margin-left: 2% !important;
    }

    .cover-container {
        min-width: 400px !important;
        text-align: center !important;
        position: absolute;
        top: 51.5%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    
    .cover-img {
        margin-top: -84px;
        object-fit: cover;
        opacity: 0.95;
        width: 400px;
        height: 100vh;
    }
    
 }


 @media only screen and (min-width: 381px) and (max-width: 415px) {
    .cover-text {
        width: 360px !important; 
        margin-bottom: 100px !important;
        font-size: 36px !important;
        line-height: 40px !important;
    }
 
    .s {
        height: 350px !important;
    }
 
    .sh {
        width: 360px !important;
    }
    
    .yellow-line {
        margin-left: 20% !important;
        margin-bottom: 30px !important;
    }
 
    .s1p {
        width: 330px !important;
        margin-bottom: 90px !important;
        margin-left: 4% !important;
    }

    .cover-container {
        min-width: 400px !important;
        text-align: center !important;
        position: absolute;
        top: 51.5%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    
    .cover-img {
        margin-top: -84px;
        object-fit: cover;
        opacity: 0.95;
        width: 400px;
        height: 100vh;
    }
    
 }