<!-- 
<div class="grid-4">
    <div class="row row-gaps" style="margin-top: 40px; margin-left: -21px;">
        <div *ngFor="let item of arr" class="col-xl-6 ms-xl-0 offset-md-3 gx-5 col-lg-6 col-md-12 col-sm-12 col-12 offset-sm-1 offset-1 mb-md-5 mb-sm-5 mb-5" style="margin-bottom: 30px !important;">
            <div class="grid-container">
                <img [src]="item.img" class="grid-img img-fluid">
                <h4 class="grid-h4">{{item.titleBig}}</h4>
                    <h5 class="grid-h5">{{item.titleSmall}}</h5>
                    <ul style="list-style: none;">
                        <li>{{item.li}}</li>
                        <li>{{item.li}}</li>
                        <li>{{item.li}}</li>
                    </ul>
                    <a class="grid-btn" routerLink="../../ViewDetails-Page" routerLinkActive="active">{{item.btn}}</a>
            </div>
        </div>
    </div>
</div> -->


<div class="grid-4">
    <div class="row row-gaps" style="margin-top: 40px; margin-left: -35px;">
        <div *ngFor="let item of arr" class="col-xl-6 ms-xl-0 offset-md-3 col-lg-6 col-md-12 col-sm-12 col-12 offset-sm-1 offset-1 mb-md-5 mb-sm-5 mb-5" style="margin-bottom: 30px !important; padding-left: 40px !important;">
            <div class="grid-container">
                <img [src]="item.img" class="grid-img img-fluid">
                <h4 class="grid-h4">{{item.titleBig}}</h4>
                    <h5 class="grid-h5">{{item.titleSmall}}</h5>
                    <ul style="list-style: none;">
                        <li><span style="word-spacing: 8px;">• Lorem</span>{{item.li}}</li>
                        <li><span style="word-spacing: 8px;">• Lorem</span>{{item.li}}</li>
                        <li><span style="word-spacing: 8px;">• Lorem</span>{{item.li}}</li>
                    </ul>
                    <a class="grid-btn" routerLink="../../ViewDetails-Page" routerLinkActive="active">{{item.btn}}</a>
            </div>
        </div>
    </div>
</div>