.grid-4 {
    background-color: white;
    height: 1240px;
    text-align: center;
    align-items: center;
    
}


.grid-container {
    display: block;
    background-color: white;
    height: 600px !important;
    max-height: 600px !important;
    box-shadow: 0px 3px 10px #c9c9c9;
    border-radius: 5px;
    width: 420px !important;
    max-width: 420px !important;
}

@media (min-width: 1100px) {
    .grid-container {
        margin-left: -5px !important;
        margin-bottom: 10px !important;
        
    }

    .gc-2 {
        margin-left: 7px !important;
    }

}

.grid-img {
    max-width: 420px; 
    height: 340px !important; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    border-bottom: 3px solid #F6921E;
   
}

.grid-h4 {
    font-family: "Avenir Next Bold" !important;
    font-size: 24px;
    margin-top: -52px;
    color: white;
    padding-left: 67px auto;
    padding-right: auto;
}

.grid-h5 {
    font-family: "Avenir Next Bold" !important;
    font-size: 18px;
    margin-top: 49px;
    margin-bottom: 4px;
}

li {
    margin-left: 0px !important;
}

.grid-btn {
    background-color: #F6921E;
    width: 142px;
    height: 44px;
    padding: 14px 22px 14px 23px;
    text-decoration: none;
    color: white;
    font-family: "Avenir Next Bold" !important;
    font-size: 14px;
    line-height: 19px;
    border-radius: 3px;
   
}

.grid-btn:hover {
    background-color: #E5800A;
    color: white;
}


@media only screen and (max-width: 1000px) {
    .s2 {
        margin-top: 200px;
    }
    
    .bottom-section-p {
        margin-bottom: 170px;
    }

   
}

@media only screen and (max-width: 1200px) {
    
    body {
        height: 5000px;
    }
    .s-view-detail {
        margin-top: -220px !important;
        margin-bottom: 100px !important;
        max-width: 440px !important;
    }
    
    
    .sh2-view-detail {
        padding: 5px;
        font-weight: bold;
        letter-spacing: 0;
        font-size: 46px;
        color: white;
        max-width: 440px;
        max-height: 50px;
        text-align: left;
    }
}


@media only screen and (max-width: 700px) {
    .grid-4 {
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 500px) {
    .grid-4 {
        margin-left: 00px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .p-p-view-detail {
        margin-bottom: 200px !important;
    }
    .sh2-view-detail {
        width: 480px !important;
    }
}

@media only screen and (min-width: 990px) {
    .row-gaps {
        margin-bottom: -17px !important;
    }
}


@media only screen and (min-width: 768px ) and (max-width: 990px) {

    .grid-4 {
        margin-left: -50px !important;
    }
}


@media only screen and (max-width: 575px) {
    .grid-container {
        margin-left: -40px !important;
    }
 }


 @media only screen and (min-width: 360px) and (max-width: 380px) {

    .grid-4 {
        margin-left: 20px !important;
        width: 350px !important;
        max-width: 350px !important;
    
    }

    .grid-container {
        margin-left: 0px !important;
        width: 320px !important;
        max-width: 320px !important;
        height: 500px !important;
        margin-bottom: 30px !important;
    }

    .grid-img {
        max-width: 320px !important;
        width: 320px !important;
        height: 250px !important;
    }
}


@media only screen and (max-width: 575px) {
    .grid-container {
        margin-left: -40px !important;
    }
 }

 @media only screen and (min-width: 381px ) and (max-width: 400px) {

    .grid-4 {
        margin-left: -10px !important;
        width: 350px !important;
        max-width: 350px !important;
    
    }

    .grid-container {
        margin-left: 0px !important;
        width: 320px !important;
        max-width: 320px !important;
        height: 500px !important;
        margin-bottom: 30px !important;
    }

    .grid-img {
        max-width: 320px !important;
        width: 320px !important;
        height: 250px !important;
    }
 }

 @media only screen and (min-width: 401px ) and (max-width: 415px) {

    .grid-4 {
        margin-left: 5px !important;
        width: 350px !important;
        max-width: 350px !important;
    
    }

    .grid-container {
        margin-left: 0px !important;
        width: 320px !important;
        max-width: 320px !important;
        height: 500px !important;
        margin-bottom: 30px !important;
    }

    .grid-img {
        max-width: 320px !important;
        width: 320px !important;
        height: 250px !important;
    }
}