<img src="../../../assets/slike/contact-img.jpg" class="contact-img img-fluid">
<section class="s-contact">
    <h1 class="sh2-contact">Contact Us</h1>
    <div class="yellow-line"></div>
</section>

