.contact-img {
    max-width: 1920px !important;
    max-height: 396px !important;
    margin: 0 !important;
}

.s-contact {
    position: relative;
    text-align: center;
    margin-top: -240px;
    font-family: "Avenir Next Bold" !important;
}

.sh2-contact {
    padding: 5px;
    font-family: "Avenir Next Bold" !important;
    letter-spacing: 0;
    font-size: 30px;
    color: white;
}


.yellow-line {
    background-color: #F6921E;
    width: 60px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
}