@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'Avenir Next';
    src: url('./app/fonts/AvenirNextLTProRegular.otf') format('opentype');
    /* src: url("fonts/AvenirNextLTPro-Bold.otf") format("opentype"); */
}

@font-face {
    font-family: 'Avenir Next Bold';
    /* src: url('fonts/AvenirNextLTProRegular.otf') format('opentype'); */
    src: url("./app/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
/* @import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);

@font-face {font-family: "Avenir Heavy"; src: url("//db.onlinewebfonts.com/t/901497541657a2f24e42848bcf7fad52.eot"); src: url("//db.onlinewebfonts.com/t/901497541657a2f24e42848bcf7fad52.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/901497541657a2f24e42848bcf7fad52.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/901497541657a2f24e42848bcf7fad52.woff") format("woff"), url("//db.onlinewebfonts.com/t/901497541657a2f24e42848bcf7fad52.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/901497541657a2f24e42848bcf7fad52.svg#Avenir Heavy") format("svg"); } */




body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Avenir Next" !important;
    font-style: normal;
    font-weight: normal;
  
}

body {
    margin-left: -17px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}


ul {
    padding: 10px 40px;
}

li {
    font-size: 16px;
    padding-bottom: 8px;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    
    .s2-grid
    {
        margin-bottom: 150px;
    }
 }

@media only screen and (max-width: 1200px) {
    
   .s2-grid
   {
       margin-bottom: 1450px;
   }
}

@media only screen and (max-width: 1000px) {
    
    .s2-grid
    {
        margin-bottom: 200px;
    }
 }

 @media only screen and (min-width: 360px) and (max-width: 415px) {
    html, body {
        width: 100vw !important;
        overflow-x: hidden !important;
        max-width: 100vw !important;

    }

    
}
