
// .navbar {
//     height: 84px !important;
//     background-color: white !important;
//     z-index: 1;
//     max-width: 1920px !important;
// }

// .logo-top {
//     max-width: 240px !important;
//     transition: transform 0.3s !important;
//     margin-left: -10px;
// }

// .logo-top:hover {
//     transform: scale(1.05);
// }

// .pckg-color {
//     color: #111242 !important;
//     text-decoration: none;
//     font-weight: bold !important;
//     font-size: 14px !important;
//     font-family: "Avenir Next Bold" !important;
//     letter-spacing: 0;
//     width: 142px;
//     height: 44px;
//     padding-top: 11px !important;
//     margin-top: 7px !important;
//     margin-right: 10px;
// }

// .pckg-color:hover {
//     color: #F6921E !important;
// }

// .btn-color {
//     background-color: #111242 !important;
//     letter-spacing: 0px !important;
//     font-family: "Avenir Next Bold" !important;
//     color: white !important;
//     width: 142px;
//     height: 44px;
//     font-size: 14px !important;
//     font-weight: bold !important;
//     border-radius: 3px;
//     padding-top: 11px !important;
//     margin-top: 7px !important;
// }

// .btn-color:hover {
//     background-color: #020F34 !important;
//     color: #F6921E !important;
// }


