<app-header-component></app-header-component>
<app-section></app-section>
<app-section2></app-section2>
<app-section-grid></app-section-grid>
<app-bottom-section></app-bottom-section>
<app-footer-section></app-footer-section>