<section class="s2-contact container">
    <h2 class="s2h2-contact container">Capture your next event with us</h2>
    <p class="s2p-contact container">Call us at <span>1-888-628-3290</span> or fill out the form below and our team will get back to your shortly.</p>

    <form class="container form-width needs-validation" novalidate>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 has-validation">
            <label for="validationCustom05">First Name<span style="color: red; font-size: 14px;">*</span></label>
            <input type="firstName" class="form-control" id="validationCustom05" style="margin-bottom: 20px;" required>
            <div class="invalid-feedback" style="text-align: left; margin-top: -20px;">
              Please complete this required field.
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label for="inputPassword4">Last Name</label>
            <input type="lastName" class="form-control" id="inputLastName" style="margin-bottom: 20px;">
          </div>
        </div>
        <div class="form-group">
          <label for="validationCustom05">Email<span style="color: red; font-size: 14px;">*</span></label>
          <input type="email" class="form-control" id="validationCustom05" style="margin-bottom: 20px;" required>
          <div class="invalid-feedback" style="text-align: left; margin-top: -20px;">
            Please complete this required field.
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress2">Tell us about your event<span style="color: red; font-size: 14px;">*</span></label>
          <textarea type="text" class="form-control" id="inputText" style="margin-bottom: 40px;" required></textarea>
          <div class="invalid-feedback" style="text-align: left; margin-top: -40px;">
            Please complete this required field.
          </div>
        </div>
        <button href="#" type="submit" class="form-btn">SEND</button>
      </form>
</section>