.s2-contact {
    position: relative;
    text-align: center;
    margin-top: 235px;
}

.s2h2-contact {
    font-family: "Avenir Next Bold" !important;
    margin-bottom: 10px;
    color: #111242;
}

.s2p-contact {
    font-family: "Avenir Next" !important;
    font-weight: bold;
    max-width: 450px !important;
    font-size: 18px !important;
    max-height: 50px !important;
    line-height: 25px !important;
    letter-spacing: 0 !important;
    margin-bottom: 30px;
}

span {
    color: #F6921E;
    font-family: "Avenir Next Bold" !important;
    font-size: 18px;
    max-width: 138px !important;
    max-height: 25px !important;
}

.form-width {
    width: 482px !important;
    height: 360px;
    margin-bottom: 80px;
}

#inputText {
    height: 80px !important;
}

.form-btn {
    background-color: #F6921E;
    border: none;
    width: 92px;
    height: 44px;
    padding: 12px 26px;
    text-decoration: none;
    color: white;
    font-family: "Avenir Next Bold" !important;
    font-size: 14px;
    border-radius: 3px;
    margin: auto;
}

.form-btn:hover {
    background-color: #E5800A;
    color: white;
}

label {
    float: left !important;
    font-size: 14px;
}

.invalid-feedback {
    font-size: 12px !important;
}


@media  screen and (min-width: 360px) and (max-width: 415px) {
    .form-width {
        min-width: 350px !important;
        max-width: 370px !important;
        width: auto !important;
    }

    .s2p-contact {
        margin-bottom: 70px !important;
        margin-top: 20px !important;
    }
}